
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
}

.container {
   margin-top: 100px;
}
.content {
    border: .5px solid gray;
    padding: 15px;
    min-height: 400px;
    border-radius: 10px;
}
.info {
    border: .5px solid gray;
    margin: 5px 0;
   
}
.info .center {
    border-right: .5px solid gray;
    padding: 0 10px;
    
}
.info-mr {
    border: .5px solid gray;
    align-items: center;
    margin-bottom: 5px;
}
.imaage {
    display: flex;
    justify-content: space-around;
}
.imaage img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 5px;
}
.imaage span {
    padding-right: 10px;
}
.bord {
    border-right: 1px solid gray;
}
.linkDay {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    border-radius: 7px;
}
.linkDay:hover {
    background-color: #eee;
}
.homePage h3 {
    margin-top: 50px;
    text-align: center;

}
.navParent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}